<% provide(:title, 'Sign-up') %>
<% if flash[:success] %>
    <div class="alert alert-success">Sign-up successful. An email is sent to you to activate your account before you can sign-in</div>
    <div><%= link_to 'Home', root_path %> </div>
<% else %>
    <script type="text/javascript">
        window.location.href="/signin"
    </script>
<% end %>

