<% provide(:title, 'Profile') %>
<div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <h3>SKOWAR</h3>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="pull-right" style="margin-top: 10px;"><%= link_to 'Log out', logout_path %></div>
    </div>
  </div>
</div>